asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
dj-database-url==2.1.0
Django==3.2.11
gunicorn==23.0.0
idna==3.2
mysqlclient==2.2.4
Pillow==9.0.0
pytz==2021.1
sqlparse==0.4.2
urllib3==1.26.6
whitenoise==6.6.0
